/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-Dec-2013, 12:55:44 PM
    Author     : pamaral
*/

.form-container
{
    width: 40%;
   /* border: 1px solid black; */
    padding: 15px;
    border-radius: 10px;
}

#search{
	width: 180px;
	float: right;
}
#search{
	width: 180px;
	float: right;
}

.resizeVertical{
	resize: none;
	resize:vertical;
}
#ajaxdiv {
      position: absolute;
     
    left: 50%;
    top: 50%;
  
    margin-left: -64px; /* -1 * image width / 2 */
    margin-top: -64px;  /* -1 * image height / 2 */
    z-index: 9999;

display: block;     
}
#ajax-loader {
  display: none;
}

.btn-group .btn{
display: block;
margin-bottom: 10px;
	}
	
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.imageDelete{
	
	margin-top: 1px;
	margin-left: -28px;
	margin-right: 20px;
	
}
#imageTable{
position: relative;
height: auto;
margin: 15px, auto;
padding: 50px 5px;;
}
.imgthumb img{
	vertical-align:text-top;
	
/* 	padding-right: 100px;
	position: absolute; 
	top: 0; */
}
#imgmod{

max-width: 100%;
}
#imgModal .modal-dialog{
	max-width: 90%;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  clear: both;
  display: block;
  margin-top: 30px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 870px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
